{% extends 'base.html.twig' %}

{% block title %}Echange{% endblock %}

{% block body %}
    <h1>Echange</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ echange.id }}</td>
            </tr>
            <tr>
                <th>DateEchange</th>
                <td>{{ echange.dateEchange ? echange.dateEchange|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>SujetEchange</th>
                <td>{{ echange.sujetEchange }}</td>
            </tr>
            <tr>
                <th>TypeEchange</th>
                <td>{{ echange.typeEchange }}</td>
            </tr>
            <tr>
                <th>DescriptionEchange</th>
                <td>{{ echange.descriptionEchange }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_echange_index') }}">back to list</a>

    <a href="{{ path('app_echange_edit', {'id': echange.id}) }}">edit</a>

    {{ include('echange/_delete_form.html.twig') }}
{% endblock %}
