{% extends 'base.html.twig' %}

{% block title %}Rubrique index{% endblock %}

{% block body %}
    <h1>Rubrique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleImage</th>
                <th>LabelRubrique</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rubrique in rubriques %}
            <tr>
                <td>{{ rubrique.id }}</td>
                <td>{{ rubrique.libelleImage }}</td>
                <td>{{ rubrique.labelRubrique }}</td>
                <td>
                    <a href="{{ path('app_rubrique_show', {'id': rubrique.id}) }}">show</a>
                    <a href="{{ path('app_rubrique_edit', {'id': rubrique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rubrique_new') }}">Create new</a>
{% endblock %}
