{% extends 'base.html.twig' %}

{% block title %}ImageProduit index{% endblock %}

{% block body %}
    <h1>ImageProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleImage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_produit in image_produits %}
            <tr>
                <td>{{ image_produit.id }}</td>
                <td>{{ image_produit.libelleImage }}</td>
                <td>
                    <a href="{{ path('app_image_produit_show', {'id': image_produit.id}) }}">show</a>
                    <a href="{{ path('app_image_produit_edit', {'id': image_produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_produit_new') }}">Create new</a>
{% endblock %}
