{% extends 'base.html.twig' %}

{% block title %}ImageProduit{% endblock %}

{% block body %}
    <h1>ImageProduit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image_produit.id }}</td>
            </tr>
            <tr>
                <th>LibelleImage</th>
                <td>{{ image_produit.libelleImage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_produit_index') }}">back to list</a>

    <a href="{{ path('app_image_produit_edit', {'id': image_produit.id}) }}">edit</a>

    {{ include('image_produit/_delete_form.html.twig') }}
{% endblock %}
